.container {
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}

.menu-icon {
    display: none;
}



.navbarLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.navbarLeft img {
    width: 200px;
    height: 50px;
}

.navbarright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    gap: 25px;

}

.navbarright a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.navbarright button {
    background-color: #20AD96;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 11px 16px;
}

.heroPage {
    background-color: #FAF8F6;
    width: 100%;
    height: 100vh;
    position: relative;

}

.heroPage img {
    width: 100px;
    height: 17px;
    position: absolute;
    left: 53px;
    top: 115px;
}

img:nth-child(2) {
    position: absolute;
    left: 715px;
    top: 115px;
    width: 180px;
    height: 56px;
    background-color: #ffff;
    padding: 10px;
    z-index: 1;


}

.heroPagecontent {
    position: absolute;
    left: 136px;
    top: 200px;
    width: 536px;
    height: 400px;
}

.heroPageRight img {
    position: absolute;
    left: 693px;
    top: -50px;
    width: 460px;
    height: 600px;
}

.provenprgrh {
    font-size: 16px;
    font-weight: 400;
}

.heropageLeft h1 {
    font-size: 70px;
    font-weight: 800;
}

.discriptionprgrh {
    font-size: 18px;
    font-weight: 400;
}

.heropageLeft button {
    padding: 9px 16px;
    background-color: #20AD96;
    border-radius: 10px;
    color: white;
    border: none;
}

.introduction img {
    width: 100px;
    height: 17px;
    margin-top: 60px;
    margin-left: 57px;
}

.intro1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.introLeft h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 10px;
    padding-left: 50px;
    align-items: center;
}

.introRight p {
    font-size: 17px;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
    align-items: center;

}

.intro2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    text-align: center;
}

.card {
    padding: 10px;
}

.card img {
    width: 72px;
    height: 72px;
}

.card h1 {
    font-size: 24px;
    font-weight: 700;

}

.card p {
    font-size: 16px;
    font-weight: 400;
}

.reviewsPage {
    background-color: #FAF8F6;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.reviewPageHeading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewsPage h1 {
    font-size: 48px;
    font-weight: 800;
}

.reviesCard {
    background-color: #fff;
    margin: 10px;
    padding: 20px 30px;
}

.reviesCard img:nth-child(2) {
    width: 116px;
    height: 20px;
    gap: 4px;
}

.reviesCard img:nth-child(1) {
    width: 69px;
    height: 70px;
}

.reviesCard h1 {
    font-size: 24px;
    font-weight: 700px;
}

.reviesCard p {
    font-size: 24px;
    font-weight: 400px;
}

.reviewsPage1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #ffff;
    width: 100%;
    height: 100vh;
}

.section1 {
    width: 100%;
    height: 180px;
    background-color: #FAF8F6;
    margin-top: 20px;

}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerLeft {
    padding-top: 20px;
}

.containerLeft h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.containerLeft p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.containerRight input {
    border: 1px solid #3333;
    border-radius: 4px;
    padding: 5px;
    width: 280px;
    height: 32px;
    margin-right: 17px;
}

.containerRight button {
    width: 150px;
    height: 44px;
    border-radius: 4px;
    padding: 5px;
    background-color: #20AD96;
    border: none;
    border-radius: 4px;
    color: white;

}

.section2 {
    padding: 64px 0 48px 0px;

}

.section2Conatiner1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.secHeadCard1 img {
    width: 149px;
    height: 27px;
}

.secHeadCard1 p {
    font-size: 12px;
    font-weight: 100;
}

.secHeadCard2 h1 {
    font-size: 20px;
}

.secHeadCard2 p {
    font-size: 12px;
    font-weight: 100;
}

.secHeadCard2 h1 {
    font-size: 20px;
}

.section2Conatiner2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}

.socialmedia {
    gap: 5px;
}

.PageHeader {
    margin: 20px 0px;
}

.blogsPageHeader {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    width: 50%;
    margin: 0 auto;
}

.blogCard {
    display: flex;
    justify-content: space-evenly;
}

.blogCard1 {
    width: 356px;
    height: 372px;
    border: 0.1px solid #333;
}

.blogCardContent {
    padding: 5px;
}

.blogCardContent h1 {
    font-size: 24px;
    font-weight: 700;
}

.blogCardContent p {
    font-size: 16px;
    font-weight: 400;
}

.blogsPage button {
    background-color: #20AD96;
    width: 250px;
    height: 42px;
    display: flex;
    margin: 20px auto;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 14px;
    font-size: 14px;
}

.freeGuide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.freeguideContent {
    width: 400px;
}

.freeguideImageContainer {
    width: 300px;
    height: 500px;
}

.freeguideContent button {
    width: 250px;
    height: 42px;
    padding: 9px 16px;
    border: none;
    border-radius: 10px;
    background-color: #20AD96;
    color: white;
    font-size: 14px;
}

.freeguideImage {
    position: relative;
}

.freeimageContainer {
    position: absolute;
    right: -192px;
    top: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

}

.freeimageContainer h3 {
    /* width: 100px;
    height: 100px; */
    padding: 50px;
    background-color: #20AD96;
    color: white;
    border-radius: 50%;
}

.freeimageCntnrheadingImg {
    position: absolute;
    top: -6px;
    right: -183px;
}

.cta {
    /* margin: 10px 30px; */
    /* width: 100%; */
}

.ctaContainer {
    background-color: #FAF8F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 90px;
    border-radius: 15px;
}

.ctaContent {
    width: 500px;
}

.ctaContent button {
    width: 250px;
    height: 42px;
    padding: 9px 16px;
    background-color: #20AD96;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    border: none;
}

.ctaImage {
    width: 600px;
    height: 480px;
}


/* Mobile Styles */
@media (max-width: 480px) {
    /* Styles for mobile devices */
    .navbarright {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-top: 17px;
        margin-right: 50px;
    }
}

/* Large Smartphones */
@media (min-width: 481px) and (max-width: 767px) {
    /* Styles for large smartphones */
    .navbarright {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-top: 17px;
        margin-right: 50px;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {

    /* Styles for tablets */
    .navbarright {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-top: 17px;
        margin-right: 50px;
    }
}

/* Laptop and Small Desktop Styles */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for laptops and small desktops */

}

/* Large Desktop Styles */
@media (min-width: 1441px) {
    /* Styles for large desktops */

}